<a href="https://colab.research.google.com/github/bmendoz/ejemplo/blob/main/Copia_de_Untitled56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
H1 = pd.read_csv("H1.csv")

In [ ]:
H1[H1.IsCanceled==1].head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
8,1,85,2015,July,27,1,0,3,2,0,...,No Deposit,240,NULL,0,Transient,82.0,0,1,Canceled,2015-05-06
9,1,75,2015,July,27,1,0,3,2,0,...,No Deposit,15,NULL,0,Transient,105.5,0,0,Canceled,2015-04-22
10,1,23,2015,July,27,1,0,4,2,0,...,No Deposit,240,NULL,0,Transient,123.0,0,0,Canceled,2015-06-23
27,1,60,2015,July,27,1,2,5,2,0,...,No Deposit,240,NULL,0,Transient,107.0,0,2,Canceled,2015-05-11
32,1,96,2015,July,27,1,2,8,2,0,...,No Deposit,NULL,NULL,0,Transient,108.3,0,2,Canceled,2015-05-29

In [ ]:
df1 = H1['ArrivalDateYear'].map(str) + H1['ArrivalDateWeekNumber'].map(str)

In [ ]:
df2 = H1.IsCanceled

In [ ]:
df3= pd.concat([df1, df2], axis = 1)

In [ ]:
df3 = df3[df3.IsCanceled ==1]

In [ ]:
df3.rename(columns={0: 'Fulldate', 'IsCanceled': 'IsCanceled'}, inplace=True)

In [ ]:
df3 = df3.groupby('Fulldate').agg(sum)

In [ ]:
df3.head()

          IsCanceled
Fulldate
201527            41
201528            48
201529            87
201530            74
201531           101